<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515251971509-mh13ejo0utq00u6tumnm7f3bm7ea1uh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515251971509-mh13ejo0utq00u6tumnm7f3bm7ea1uh7</string>
	<key>API_KEY</key>
	<string>AIzaSyBRM5CLNL0zoTfGz_pV0WkHLMrFxlCqXVs</string>
	<key>GCM_SENDER_ID</key>
	<string>515251971509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mykytos.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-6b81f</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-6b81f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515251971509:ios:6ea6fe4051bf297c5f65fc</string>
</dict>
</plist>